body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url(./img/sunny.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.content-div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  margin-top: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

p {
  font-size: 1.2rem;
}

.search-div {
  justify-content: center;
  align-items: center;
}

.main-container div {
  color: #fff;
}

.app-title {
  font-weight: 800;
  color: #fff;
  margin-top: 20px;
}

.weather-div {
  margin-top: 40px;
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
}

.sub-button {
  border: none;
  font-size: 18px;
  background-color: #dbeafe;
  border-radius: 0 5px 5px 0;
}

.sub-button:hover {
  background-color: #93c5fd;
}

.form-input {
  border: 1px solid #fff;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  padding: 5px 3px;
  outline: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.switch-temp {
  justify-content: center;
  align-items: center;
}
