body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url(./img/sunny.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

h1 {
  color: #fff;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
}

.error {
  color: red;
  font-size: 1.5rem;
}

.app-title {
  font-weight: 800;
  color: #fff;
  margin-top: 20px;
}

.sub-button {
  border: none;
  font-size: 18px;
  background-color: #dbeafe;
  border-radius: 0 5px 5px 0;
  color: #2b1c11;
  font-weight: 500;
}

.sub-button:hover {
  background-color: #93c5fd;
}

.form-input {
  border: 1px solid #fff;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  padding: 1.5rem;
  outline: none;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-container {
  background: skyblue;
  width: 400px;
  min-height: 500px;
  height: 70vh;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 2px 6px 10px 5px rgba(8, 58, 14, 0.1);
  position: relative;
}

.button-container {
  display: flex;
  background-color: #ecd9cb;
  position: absolute;
  top: 2%;
  left: 2%;
  border-radius: 24px;
  cursor: pointer;
}

.button-container > * {
  padding: 1rem;
  color: #d38d59;
  font-weight: 400;
}

.imperial.active {
  background-color: #d38d59;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  color: white;
}

.weather-condition {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metric.active {
  background-color: #d38d59;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  color: white;
}

.basic-info-container {
  grid-column-start: 1;
  grid-column-end: span 2;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #2b1c11;
}

.city-name {
  font-size: 3rem;
  flex-grow: 4;
}

.weather-description {
  font-size: 1.2rem;
  flex-grow: 1;
}

.temperature {
  font-size: 2rem;
  flex-grow: 3;
}

.icon {
  width: 100px;
  margin: 0 auto;
}

form {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  align-self: center;
}

input {
  background: white;
  outline: none;
  border: 1px solid #f7c17a;
  height: 2rem;
  border-radius: 24px;
  padding: 1rem;
  box-shadow: 2px 6px 10px 5px rgba(8, 58, 14, 0.1);
}

button {
  background-color: #3a3a81;
  border: none;
  padding: 0.7rem;
  border-radius: 24px;
  cursor: pointer;
  color: white;
  letter-spacing: 0.08rem;
  margin-left: 1rem;
  box-shadow: 2px 6px 10px 5px rgba(8, 58, 14, 0.1);
}

button:hover {
  background-color: #3f2a1a;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.3rem;
  color: white;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .weather-container {
    width: 300px;
  }

  .button-container {
    top: 4%;
    left: 4%;
  }

  .button-container > * {
    padding: 0.8rem;
  }

  .city-name {
    font-size: 2rem;
  }

  .weather-description {
    font-size: 0.8rem;
  }

  .temperature {
    font-size: 3rem;
  }

  .info {
    font-size: 1rem;
  }

  .svg {
    padding: 0.2rem;
  }

  @media screen and (max-width: 400px) {
    .weather-container {
      width: 250px;
    }

    .temperature {
      font-size: 2rem;
    }

    .info {
      font-size: 0.8rem;
    }
  }
}
